################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dairy/dairyshop/MilkShop.Service.Implementation/Properties/PublishProfiles
